Repository Damatnic/astral-core-v7, changes with the owners that .github/CODEOWNERS names for each.
All owners: @astral-core/maintainers, @astral-core/devops, @astral-core/backend, @astral-core/database, @astral-core/security, @astral-core/frontend, @astral-core/payments, @astral-core/qa, @astral-core/docs

Fix import path in treatment-plan-service.ts
  src/lib/services/treatment-plan-service.ts
Owners: @astral-core/backend

Fix build errors for Vercel deployment
  src/app/api/analytics/performance/route.ts
  src/app/api/auth/[...nextauth]/route.ts
  src/components/dashboards/lazy.tsx
  src/lib/constants/index.ts
  src/lib/security/rate-limit.ts
Owners: @astral-core/backend, @astral-core/frontend, @astral-core/maintainers, @astral-core/security

fix: disable CSS optimization to resolve critters dependency issue
  VERCEL_DEPLOYMENT_FIX.md
  next.config.ts
Owners: @astral-core/docs, @astral-core/maintainers

feat: add environment variable management system
  .claude/settings.local.json
  .github/workflows/sync-env-vars.yml
  .gitignore
  ENV_MANAGEMENT_GUIDE.md
  scripts/sync-env-to-vercel.js
  scripts/sync-env-to-vercel.ps1
Owners: @astral-core/maintainers, @astral-core/devops, @astral-core/docs

fix: wrap useSearchParams in Suspense boundary
  src/app/auth/login/page.tsx
Owners: @astral-core/maintainers

feat: add automatic Vercel deployment configuration
  .github/workflows/vercel-deploy.yml
  package.json
  scripts/vercel-env-sync.js
  vercel.json
Owners: @astral-core/devops, @astral-core/maintainers

docs: add comprehensive Vercel deployment setup guide
  VERCEL_DEPLOYMENT_SETUP.md
Owners: @astral-core/docs

Fix Vercel deployment: handle husky in production builds
  .gitignore
  .vercelignore
  VERCEL_ENV_COPY_PASTE.md
  package.json
  scripts/generate-secrets.js
Owners: @astral-core/maintainers, @astral-core/docs, @astral-core/devops

Fix Vercel build: handle missing @next/bundle-analyzer in production
  VERCEL_DEPLOYMENT_COMPLETE.md
  next.config.ts
Owners: @astral-core/docs, @astral-core/maintainers

Fix Vercel build: add missing dependencies and utils
  package-lock.json
  package.json
  src/utils/accessibility.ts
Owners: @astral-core/maintainers

fix: create missing components for preloadingService imports
  src/components/admin/SystemSettings.tsx
  src/components/admin/UserManagement.tsx
  src/components/appointments/AppointmentHistory.tsx
  src/components/appointments/AppointmentScheduler.tsx
  src/components/therapy/TherapyNotes.tsx
  src/components/wellness/JournalEntry.tsx
  src/components/wellness/MoodTracker.tsx
  src/lib/services/preloadingService.ts
Owners: @astral-core/frontend, @astral-core/backend

fix: remove unused import causing TypeScript error
  src/app/api/auth/demo/create/route.ts
Owners: @astral-core/backend

fix: mark unused request parameter with underscore
  src/app/api/auth/demo/create/route.ts
Owners: @astral-core/backend

fix: correct Card and Button imports to use default exports
  src/components/admin/SystemSettings.tsx
  src/components/admin/UserManagement.tsx
  src/components/appointments/AppointmentHistory.tsx
  src/components/appointments/AppointmentScheduler.tsx
  src/components/therapy/TherapyNotes.tsx
  src/components/wellness/JournalEntry.tsx
  src/components/wellness/MoodTracker.tsx
Owners: @astral-core/frontend

fix: remove unused loading variable from UserManagement
  src/components/admin/UserManagement.tsx
Owners: @astral-core/frontend

fix: mark unused selectedUser variable with underscore
  src/components/admin/UserManagement.tsx
Owners: @astral-core/frontend

Fix TypeScript strict type errors in TherapyNotes
  deployment.log
  src/components/therapy/TherapyNotes.tsx
Owners: @astral-core/maintainers, @astral-core/frontend

Fix ALL TypeScript strict type errors across the codebase
  .claude/settings.local.json
  src/components/appointments/AppointmentScheduler.tsx
  src/components/performance/ErrorMonitor.tsx
  src/components/wellness/JournalEntry.tsx
  src/components/wellness/MoodTracker.tsx
Owners: @astral-core/maintainers, @astral-core/frontend

Remove unused function to fix TypeScript error
  final-deployment.log
  src/components/wellness/JournalEntry.tsx
Owners: @astral-core/maintainers, @astral-core/frontend

Remove all unused functions to fix TypeScript errors
  src/components/wellness/JournalEntry.tsx
Owners: @astral-core/frontend

Remove last unused variable to achieve zero TypeScript errors
  src/components/wellness/MoodTracker.tsx
Owners: @astral-core/frontend

feat: Complete Auth0 integration with automated configuration
  .claude/settings.local.json
  AUTH0_AUTOMATION_GUIDE.md
  AUTH0_VERIFICATION_REPORT.md
  COMPREHENSIVE_AUTH0_VERIFICATION_REPORT.md
  MANUAL_AUTH0_SETUP.md
  auth0-verification.log
  logs/auth0-direct-config-report.json
  logs/auth0-management.log
  logs/auth0-setup-failure.json
  logs/auth0-setup-master.log
  logs/backups/pre-setup-backup-1757631674636.json
  logs/vercel-url-detection.json
  scripts/auth0-auto-setup.js
  scripts/auth0-backup.js
  scripts/auth0-config-presence-agent.js
  scripts/auth0-cors-cookie-agent.js
  scripts/auth0-direct-config.js
  scripts/auth0-documentation-agent.js
  scripts/auth0-environment-cleanup-agent.js
  scripts/auth0-live-integration-test.js
  scripts/auth0-management-api.js
  scripts/auth0-multi-profile-agent.js
  scripts/auth0-recovery.js
  scripts/auth0-redirect-callback-agent.js
  scripts/auth0-setup.js
  scripts/auth0-url-detector.js
  scripts/auth0-validator.js
  scripts/auth0-verification-system.js
  src/components/appointments/AppointmentScheduler.tsx
  src/components/performance/ErrorMonitor.tsx
  src/components/therapy/TherapyNotes.tsx
  src/components/wellness/JournalEntry.tsx
  src/components/wellness/MoodTracker.tsx
  src/lib/auth/auth0-provider.ts
  src/lib/utils/demo-accounts.ts
  src/middleware.ts
Owners: @astral-core/maintainers, @astral-core/docs, @astral-core/devops, @astral-core/frontend, @astral-core/security, @astral-core/backend

fix: Fix TypeScript error with optional audience parameter
  src/lib/auth/auth0-provider.ts
Owners: @astral-core/security, @astral-core/backend

fix: Fix appointments route.ts directory issue
  .claude/settings.local.json
  src/app/api/appointments/route.ts
Owners: @astral-core/maintainers, @astral-core/backend

fix: Move Prisma generation to postinstall for Vercel compatibility
  package.json
Owners: @astral-core/maintainers

fix: Remove incorrect appointments route file
  .claude/settings.local.json
  add-auth0-env.sh
  src/app/api/appointments/route.ts
Owners: @astral-core/maintainers, @astral-core/backend

fix: Remove unused addArrayItem function to fix TypeScript error
  src/components/wellness/JournalEntry.tsx
Owners: @astral-core/frontend

fix: Remove all TypeScript strict mode errors for successful Vercel deployment
  .claude/settings.local.json
  src/app/api/appointments/route.ts
  src/components/FileUpload.tsx
  src/components/dashboards/ClientDashboard.tsx
  src/components/performance/PerformanceDashboard.tsx
  src/components/wellness/JournalEntry.tsx
  src/components/wellness/MoodTracker.tsx
Owners: @astral-core/maintainers, @astral-core/backend, @astral-core/frontend

fix: Remove unused request parameter in appointments GET route
  src/app/api/appointments/route.ts
Owners: @astral-core/backend

fix: Remove unused variables in MoodTracker component
  src/components/wellness/MoodTracker.tsx
Owners: @astral-core/frontend

fix: Use bracket notation for env var access to comply with noPropertyAccessFromIndexSignature
  src/lib/utils/demo-accounts.ts
Owners: @astral-core/maintainers

fix: Fix remaining env var bracket notation in demo-accounts.ts
  src/lib/utils/demo-accounts.ts
Owners: @astral-core/maintainers

fix: Remove unused request parameter in middleware
  src/middleware.ts
Owners: @astral-core/security, @astral-core/backend

fix: Fix CSP font-src and add login page redirect
  src/app/login/page.tsx
  vercel.json
Owners: @astral-core/maintainers

fix: Add missing pages and fix font directory
  public/fonts/.gitkeep
  src/app/auth/forgot-password/page.tsx
Owners: @astral-core/maintainers

🛡️ SECURITY: Fix critical vulnerabilities
  .claude/settings.local.json
  src/lib/utils/demo-accounts.ts
  src/middleware.ts
Owners: @astral-core/maintainers, @astral-core/security, @astral-core/backend

🚀 PRODUCTION DEPLOYMENT: All systems verified and ready
  ACCESSIBILITY_COMPLIANCE_REPORT.md
  monitoring-setup.md
  src/app/api/monitoring/metrics/route.ts
  src/app/auth/forgot-password/page.tsx
  src/app/auth/login/page.tsx
  src/components/wellness/AccessibleJournalEntry.tsx
  src/components/wellness/MoodTracker.tsx
Owners: @astral-core/docs, @astral-core/backend, @astral-core/maintainers, @astral-core/frontend

🔒 COMPREHENSIVE SECURITY & OPTIMIZATION: Complete code review implementation
  .github/workflows/bundle-analysis.yml
  COMPREHENSIVE_PROGRESS_TRACKER.md
  FINAL_DEPLOYMENT_READINESS_REPORT.md
  ONGOING_MAINTENANCE_SCHEDULE.md
  scripts/check-bundle-size.js
  src/app/api/auth/mfa/verify/route.ts
  src/app/api/files/upload/route.ts
  src/app/auth/forgot-password/page.tsx
  src/components/PWAManager.tsx
  src/lib/auth/config.ts
  src/lib/i18n/index.tsx
  src/lib/logger.ts
  src/lib/security/csrf.ts
  src/lib/security/encryption.ts
  src/lib/security/headers-validator.ts
  src/lib/services/alerting.ts
  src/lib/utils/demo-accounts.ts
Owners: @astral-core/devops, @astral-core/docs, @astral-core/backend, @astral-core/maintainers, @astral-core/frontend, @astral-core/security

🔧 FIX: Update Next.js config for deployment compatibility
  next.config.js
  package-lock.json
Owners: @astral-core/maintainers

🔧 FIX: Convert dynamic env access in constants to static
  src/lib/constants/index.ts
Owners: @astral-core/maintainers

.github/CODEOWNERS:

# CODEOWNERS file for Astral Core v7
# This file defines who is responsible for code in this repository

# Global owners - will be requested for review on all PRs unless overridden
* @astral-core/maintainers

# CI/CD and DevOps
/.github/workflows/ @astral-core/devops
/.github/actions/ @astral-core/devops
/scripts/ @astral-core/devops
/Dockerfile @astral-core/devops
/docker-compose.yml @astral-core/devops
/kubernetes/ @astral-core/devops

# Database and migrations
/prisma/ @astral-core/backend @astral-core/database

# Authentication and security
/src/auth/ @astral-core/security @astral-core/backend
/src/middleware.ts @astral-core/security @astral-core/backend
/src/lib/auth/ @astral-core/security @astral-core/backend
/src/lib/security/ @astral-core/security

# API routes and backend logic
/src/app/api/ @astral-core/backend
/src/lib/api/ @astral-core/backend
/src/lib/services/ @astral-core/backend

# Frontend components and pages
/src/app/(dashboard)/ @astral-core/frontend
/src/app/(auth)/ @astral-core/frontend @astral-core/security
/src/components/ @astral-core/frontend
/src/hooks/ @astral-core/frontend

# Payment and billing
/src/app/api/stripe/ @astral-core/payments @astral-core/backend
/src/lib/stripe/ @astral-core/payments @astral-core/backend
/src/components/billing/ @astral-core/payments @astral-core/frontend

# Testing
/tests/ @astral-core/qa
/**/*.test.* @astral-core/qa
/**/*.spec.* @astral-core/qa
/jest.config.js @astral-core/qa
/jest.setup.js @astral-core/qa
/playwright.config.ts @astral-core/qa

# Configuration files
/package.json @astral-core/maintainers
/package-lock.json @astral-core/maintainers
/tsconfig.json @astral-core/maintainers
/next.config.* @astral-core/maintainers
/tailwind.config.* @astral-core/frontend
/.eslintrc.* @astral-core/maintainers
/.prettierrc* @astral-core/maintainers

# Documentation
/README.md @astral-core/maintainers @astral-core/docs
/docs/ @astral-core/docs
/**/*.md @astral-core/docs

# Environment and deployment configuration
/.env.example @astral-core/devops @astral-core/security
/sonar-project.properties @astral-core/devops
